apipkg==1.4
atomicwrites==1.1.5
attrs==18.1.0
beautifulsoup4==4.7.1
certifi==2018.11.29
chardet==3.0.4
click==6.7
colorama==0.3.9
defusedxml==0.5.0
et-xmlfile==1.0.1
execnet==1.5.0
httplib2==0.18.0
idna==2.8
IMAPClient==2.1.0
itsdangerous==0.24
jdcal==1.4
Jinja2==2.10
lxml==4.3.0
MarkupSafe==1.0
more-itertools==4.2.0
mysql-connector-python==8.0.12
numpy==1.16.1
oauth2==1.9.0.post1
oauthlib==3.0.1
openpyxl==2.6.0
pandas==0.24.1
pep8==1.7.1
Pillow==5.3.0
pluggy==0.6.0
protobuf==3.6.1
py==1.5.4
PyJWT==1.7.1
python-dateutil==2.8.0
python-openid==2.2.5
python3-openid==3.1.0
pytz==2018.7
requests==2.21.0
requests-oauthlib==1.2.0
six==1.11.0
social-auth-app-django==3.1.0
social-auth-core==3.0.0
soupsieve==1.7.3
sqlparse==0.2.4
urllib3==1.24.1
virtualenv==16.3.0
vsearch==1.0
Werkzeug==0.14.1
